@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

body {
  margin: 0;
  font-family: 'Mitr', sans-serif;
}

main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: auto;
}

main > section {
  height: 100%;
  scroll-snap-align: start;
  position: relative;
}

main > section:not(:first-child) {
  margin-top: 1rem;
}

.overlay-text {
  position: absolute;
  top: var(--y-pos, 70%);
  left: 0;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: #00000085;
}

.overlay-text.light {
  background-color: #b7b7b785;
}

.overlay-source {
  font-size: 0.9rem;
  margin-top: 5px;
  font-weight: 100;
}
