body{
  margin: 0;
}

main{
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: auto;
}

main > section{
  height: 100%;
  scroll-snap-align: start;
}

main > section:not(:first-child){
  margin-top: 1rem;
}